
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff"></ngx-spinner>

<h1 *ngIf="isEditRoute(); else newTask">Editar Tarea</h1>
<ng-template #newTask>
  <h1>Nueva Tarea</h1>
</ng-template>
<hr>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="status">Estado de la Tarea</label>
    <select class="form-control form-select"
            aria-label="Default select example"
            formControlName="status"
            required
            [(ngModel)]="task.status"
            >
      <option  value="Pendiente">Pendiente</option>
      <option  value="En proceso">En proceso</option>
      <option  value="Completada">Completada</option>
    </select>
    <small class="text-danger" *ngIf="isValidField('status')">Debe de escoger un estado</small>
  </div>

  <div class="form-group">
    <label for="name">Nombre de la Tarea</label>
    <input type="text"
           class="form-control"
           formControlName="name"
           placeholder="Tarea"
           [(ngModel)]="task.name"
           >
    <small class="text-danger" *ngIf="isValidField('name')">La tarea es obligatoria</small>
  </div>

  <div class="form-group">
    <label for="employee">Persona asignada</label>
    <input type="text"
           class="form-control"
           formControlName="employee"
           placeholder="Empleado"
           [(ngModel)]="task.employee"
           >
    <small class="text-danger" *ngIf="isValidField('employee')">El nombre es obligatorio.</small>
  </div>

  <div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
    <button type="submit"  class="btn" style="margin-right: 50px;" [disabled]="!formulario.valid">Guardar</button>
    <button  type="button" class="btn" (click)="returntask()"  >Home</button>
  </div>
</form>

<pre>
{{currentTask | json}}
</pre>
